

.container{
    background-color: #171616;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    .banner-section{
        display: flex;
        justify-content: center;
        .img-box{
            max-width: 1200px;    
            
           img{
            height: 500px; 
            object-fit: cover;
            user-select: none;
          
            
           }    
     
        }
    }
}