

.container{

    display: flex;
    justify-content: center;
    .cart-section{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 0px;
        gap: 10px;
        min-width: 800px;
        min-height: 500px;
    }
}