.container{
    background-color: #171616;
    display: flex;
    flex-direction: column;
    align-items: center;
    .order-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 600px;
        min-height: 60px;
        .label-box{
            display: flex;
            align-items: center;
            color:#FFFF;
            font-family: ShopeeMedium;
            img{
                
                width: 40px;
                aspect-ratio: 1/1;
            }
        }
        .btn{
            border-radius: 20px;
            height: 40px;
            background-color:rgb(235, 173, 98);
            font-family: ShopeeBold;
        }
    }
}