*{
  margin:0;
  padding: 0;
	border: 0;
  box-sizing: border-box;
	font-size: 16px;
}
@font-face {
    font-family: FeatherBold;
    src: url(./assets/font/Feather.ttf);
  }
  @font-face {
    font-family: Fredoka;
    src: url(./assets/font/FredokaOneRegular.otf);
  }
  @font-face {
    font-family: PhilosopherBold;
    src: url(./assets/font/Philosopher-Bold.otf);
  }
  @font-face {
    font-family: PhilosopherRegular;
    src: url(./assets/font/Philosopher-Regular.otf);
  }
  @font-face {
    font-family: Somatic;
    src: url(./assets/font/Somatic-Rounded.otf);
  }
  
  @font-face {
    font-family: ShopeeBold;
    src: url(./assets/font/ShopeeDisplay-Bold.ttf);
  }
  @font-face {
    font-family: ShopeeMedium;
    src: url(./assets/font/ShopeeDisplay-Medium.ttf);
  }